﻿html {
    height: 100%;
}
body {
    text-align: center;
    width: 100%;
    height: 100%;
    background: url("../includes/images/computer.png") no-repeat transparent;
    background-size: 100%;
}
#MainContent {
    height: 100%;
    width: 100%;
}
#wrapper {
    min-height: 95%;
    background-color:white;
    padding-top: 25px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
}

#opaqueWrapper {

}

#MasterForm {
    height: 100%;
}

#emailAddress {
    width: 33%;
}
#registrationPanel {
    width: 100%;
}

#bodyHeading {
    margin-bottom: 25px;
    width: 100%;
    font-size: 2em;
    color: #0e0d6d;
    font-weight: bold;
}